@font-face { /*Pendiente de implementar */
    font-family: d;
    src: url();
}

/*ZONA EDICION CARACTERISTICAS DE LA PAGINA*/
header{
    top: 0;
    left: 0;
    width: 100%;
    min-height: 150px;
    position: fixed;
    background-image: linear-gradient(#F2D7D7,#E6B0B0);
}
header > ul,li{
    list-style: none;
}
.menu-nav-cont{
    padding: 20px;
    display: flex;
    align-items: center;
    
}
.nav-header{
    padding: 20px;
    display: flex;
    align-items: center;
    margin: auto;
    
}
.nav-header > div{
    margin-inline: 10%;
}

#dekor-logo{
    width: 65px;
    height: 75px;
}

footer{
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 150px;
    position:fixed;
    background-image: linear-gradient(#F2D7D7,#E6B0B0);
    text-align: center;
    display: block;
   
}
.copyright{
    
    text-align: center;
    background-image: linear-gradient(#F2D7D7,#E6B0B0);
    font-weight: bolder;
    font-size: larger;
    margin-top: 0;
    max-height: 35px;
}
.footer-menu{
    display: grid;
    grid-template-columns: auto auto;
}

